CompileFlags:
  Remove: [-mabi=lp64, -fno-allow-store-data-races]
  Add:
    - "-std=c++20"
    # 关键点 1：明确指定架构为 arm-linux-gnueabihf（hf 代表 Hard Float）
    - "--target=arm-linux-gnueabihf"
    # 关键点 2：指向你的 Sysroot
    - "--sysroot=/home/hss/Lyra-sdk/buildroot/output/rockchip_rk3506_luckfox/host/arm-buildroot-linux-gnueabihf/sysroot"
    # 项目内部路径
    - "-I/home/hss/SuOS/core"
    - "-I/home/hss/SuOS/core/suUDS/suUdsMgr"
    - "-I/home/hss/SuOS/core/suUDS/suUdsMsg"
    - "-I/home/hss/SuOS/core/suUDS/suUdsMsg/part/general"
    - "-I/home/hss/SuOS/core/suUDS/basic/include"
    - "-I/home/hss/SuOS/core/suRuntime/include"
    - "-I/home/hss/SuOS/core/Main/include"
    - "-I/home/hss/SuOS/core/SysService"
    - "-I/home/hss/SuOS/core/Main/Database"
    - "-I/home/hss/SuOS/core/Router"
  
  CompilationDatabase: "build"